<!DOCTYPE html>
<html>
  <head>
    <title>Gestion de Archivos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <br><br>
  <%= button_to 'Principal', root_url, :class => "btn-sm btn-info", method: :get %></td>
  </html>
